# Case Study: Diabetes Data Analysis

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv("diabetes.csv", sep=',')
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0
5,0,173,78,32,265,46.5,1.159,58,0
6,4,99,72,17,0,25.6,0.294,28,0
7,8,194,80,0,0,26.1,0.551,67,0
8,2,83,65,28,66,36.8,0.629,24,0
9,2,89,90,30,0,33.5,0.292,42,0

<b>Data structures Series</b>

In [2]:
row_0 = df.iloc[0]
type(row_0)

pandas.core.series.Series

In [3]:
print(row_0)

Pregnancies                   2.000
Glucose                     138.000
BloodPressure                62.000
SkinThickness                35.000
Insulin                       0.000
BMI                          33.600
DiabetesPedigreeFunction      0.127
Age                          47.000
Outcome                       1.000
Name: 0, dtype: float64

In [4]:
row_0.index

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [5]:
row_0['Pregnancies']

2.0

In [6]:
'Age' in row_0

True

<b>DataFrames</b>

In [9]:
df.head

<bound method NDFrame.head of       Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0               2      138             62             35        0  33.6
1               0       84             82             31      125  38.2
2               0      145              0              0        0  44.2
3               0      135             68             42      250  42.3
4               1      139             62             41      480  40.7
5               0      173             78             32      265  46.5
6               4       99             72             17        0  25.6
7               8      194             80              0        0  26.1
8               2       83             65             28       66  36.8
9               2       89             90             30        0  33.5
10              4       99             68             38        0  32.8
11              4      125             70             18      122  28.9
12              3       80              0              0        0   0.0
13              6      166             74              0        0  26.6
14              5      110             68              0        0  26.0
15              2       81             72             15       76  30.1
16              7      195             70             33      145  25.1
17              6      154             74             32      193  29.3
18              2      117             90             19       71  25.2
19              3       84             72             32        0  37.2
20              6        0             68             41        0  39.0
21              7       94             64             25       79  33.3
22              3       96             78             39        0  37.3
23             10       75             82              0        0  33.3
24              0      180             90             26       90  36.5
25              1      130             60             23      170  28.6
26              2       84             50             23       76  30.4
27              8      120             78              0        0  25.0
28             12       84             72             31        0  29.7
29              0      139             62             17      210  22.1
...           ...      ...            ...            ...      ...   ...
1970            2       90             70             17        0  27.3
1971            1      136             74             50      204  37.4
1972            4      114             65              0        0  21.9
1973            9      156             86             28      155  34.3
1974            1      153             82             42      485  40.6
1975            8      188             78              0        0  47.9
1976            7      152             88             44        0  50.0
1977            2       99             52             15       94  24.6
1978            1      109             56             21      135  25.2
1979            2       88             74             19       53  29.0
1980           17      163             72             41      114  40.9
1981            4      151             90             38        0  29.7
1982            7      102             74             40      105  37.2
1983            0      114             80             34      285  44.2
1984            2      100             64             23        0  29.7
1985            0      131             88              0        0  31.6
1986            6      104             74             18      156  29.9
1987            3      148             66             25        0  32.5
1988            4      120             68              0        0  29.6
1989            4      110             66              0        0  31.9
1990            3      111             90             12       78  28.4
1991            6      102             82              0        0  30.8
1992            6      134             70             23      130  35.4
1993            2       87              0             23        0  28.9
1994            1       79             60             42       48  43.5
1995            2       75             64             24       55  29.7
1996            8      179             72             42      130  32.7
1997            6       85             78              0        0  31.2
1998            0      129            110             46      130  67.1
1999            2       81             72             15       76  30.1

      DiabetesPedigreeFunction  Age  Outcome
0                        0.127   47        1
1                        0.233   23        0
2                        0.630   31        1
3                        0.365   24        1
4                        0.536   21        0
5                        1.159   58        0
6                        0.294   28        0
7                        0.551   67        0
8                        0.629   24        0
9                        0.292   42        0
10                       0.145   33        0
11                       1.144   45        1
12                       0.174   22        0
13                       0.304   66        0
14                       0.292   30        0
15                       0.547   25        0
16                       0.163   55        1
17                       0.839   39        0
18                       0.313   21        0
19                       0.267   28        0
20                       0.727   41        1
21                       0.738   41        0
22                       0.238   40        0
23                       0.263   38        0
24                       0.314   35        1
25                       0.692   21        0
26                       0.968   21        0
27                       0.409   64        0
28                       0.297   46        1
29                       0.207   21        0
...                        ...  ...      ...
1970                     0.085   22        0
1971                     0.399   24        0
1972                     0.432   37        0
1973                     1.189   42        1
1974                     0.687   23        0
1975                     0.137   43        1
1976                     0.337   36        1
1977                     0.637   21        0
1978                     0.833   23        0
1979                     0.229   22        0
1980                     0.817   47        1
1981                     0.294   36        0
1982                     0.204   45        0
1983                     0.167   27        0
1984                     0.368   21        0
1985                     0.743   32        1
1986                     0.722   41        1
1987                     0.256   22        0
1988                     0.709   34        0
1989                     0.471   29        0
1990                     0.495   29        0
1991                     0.180   36        1
1992                     0.542   29        1
1993                     0.773   25        0
1994                     0.678   23        0
1995                     0.370   33        0
1996                     0.719   36        1
1997                     0.382   42        0
1998                     0.319   26        1
1999                     0.547   25        0

[2000 rows x 9 columns]>

In [8]:
df.index

RangeIndex(start=0, stop=2000, step=1)

In [10]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [11]:
#Extract 0,3, 700
df.iloc[[0,3,700]]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
3,0,135,68,42,250,42.3,0.365,24,1
700,2,122,76,27,200,35.9,0.483,26,0

# Descriptive Statistics

In [14]:
df['Pregnancies'].describe()

count    2000.000000
mean        3.703500
std         3.306063
min         0.000000
25%         1.000000
50%         3.000000
75%         6.000000
max        17.000000
Name: Pregnancies, dtype: float64

In [15]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,3.703500,121.182500,69.145500,20.935000,80.254000,32.193000,0.470930,33.090500,0.342000
std,3.306063,32.068636,19.188315,16.103243,111.180534,8.149901,0.323553,11.786423,0.474498
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,63.500000,0.000000,0.000000,27.375000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,40.000000,32.300000,0.376000,29.000000,0.000000
75%,6.000000,141.000000,80.000000,32.000000,130.000000,36.800000,0.624000,40.000000,1.000000
max,17.000000,199.000000,122.000000,110.000000,744.000000,80.600000,2.420000,81.000000,1.000000

In [16]:
df['Age'].mean()

33.0905

In [18]:
df['Age'].median()

29.0

In [19]:
df['Age'].min()

21

In [20]:
df['Age'].max()

81

In [21]:
filter_1 = df['Age'] > 40
filter_1

0        True
1       False
2       False
3       False
4       False
5        True
6       False
7        True
8       False
9        True
10      False
11       True
12      False
13       True
14      False
15      False
16       True
17      False
18      False
19      False
20       True
21       True
22      False
23      False
24      False
25      False
26      False
27       True
28       True
29      False
        ...
1970    False
1971    False
1972    False
1973     True
1974    False
1975     True
1976    False
1977    False
1978    False
1979    False
1980     True
1981    False
1982     True
1983    False
1984    False
1985    False
1986     True
1987    False
1988    False
1989    False
1990    False
1991    False
1992    False
1993    False
1994    False
1995    False
1996    False
1997     True
1998    False
1999    False
Name: Age, Length: 2000, dtype: bool

In [22]:
filter_1.any()

True

## Data Cleaning: Handling Missing Data

In [27]:
df.shape

(2000, 9)

In [28]:
#making row 100 have a null value
df.loc[100,'Age'] = np.nan

In [29]:
df.isnull().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                          True
Outcome                     False
dtype: bool

In [30]:
#then we drop it
df = df.dropna()

In [32]:
df.isnull().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

In [34]:
#Calculating the sum of all null records
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [35]:
df.shape

(1999, 9)