# Introduction to pandas

In [1]:
import pandas as pd

In [2]:
asumpta = pd.Series()
print(asumpta)

Series([], dtype: float64)

In [3]:
#creating series from an ndarray
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)
print(type(s))

0    a
1    b
2    c
3    d
dtype: object
<class 'pandas.core.series.Series'>

In [4]:
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data, index = [100,200,300,400])
print(s)
print(type(s))

100    a
200    b
300    c
400    d
dtype: object
<class 'pandas.core.series.Series'>

In [5]:
#create series from a dictionary
dict = {'a':0,'b':1.,'c':2}
s = pd.Series(dict)
dict

{'a': 0, 'b': 1.0, 'c': 2}

In [6]:
d = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
#retrieve first 3 elements

In [7]:
print(d[:3])

a    1
b    2
c    3
dtype: int64

In [8]:
#retrieve data using an index
d['a']

1

In [9]:
data = np.array(['a','b','c','d'])
s = pd.Series(data, index = [100,200,300,400])

In [10]:
#creating a dataframe from a list
data2 = [1,2,3,4,5]
df = pd.DataFrame(data2)

In [11]:
data3 = [['Alex',10],['Bob',12], ['Sam',13]]
df2 = pd.DataFrame(data3,columns = ['Name','Age'])
print(df2)

   Name  Age
0  Alex   10
1   Bob   12
2   Sam   13

In [12]:
#Create from a Dictiontary
dict = {'Name':['Tom','Jack','Steve','Rick'],'Age':[28,34,49,23]}
df = pd.DataFrame(dict)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   49
3   Rick   23

In [13]:
dict = {'Name':['Tom','Jack','Steve','Rick'],'Age': [28,34,49,23]}
df = pd.DataFrame(dict,index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   49
rank4   Rick   23

In [14]:
#create from List of Dictionaries
data = [{'a':1,'b':2,'c':3,'d':4},
       {'a':5,'b':10,'c':20}]
df = pd.DataFrame(data)
print(df)

   a   b   c    d
0  1   2   3  4.0
1  5  10  20  NaN

In [15]:
#create from a Dictionary of Series
d = {'one':pd.Series([1,2,3], index=['a','b','c']),
     'two':pd.Series([1,2,3,4], index=['a','b','c','d'])
    }
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [16]:
#adding a new column by passing as series
df['three'] = pd.Series([10,20,30], index=['a','b','c'])
print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

In [17]:
#adding a column using the existing columns in df
df['four'] = df['one']+df['three']
print(df)

   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [18]:
#deleting a column
d = {'one':pd.Series([1,2,3], index=['a','b','c']),
     'two':pd.Series([1,2,3,4], index=['a','b','c','d']),
     'three':pd.Series([10,20,30], index=['a','b','c'])
    }
df = pd.DataFrame(d)
print(df)

#using del function to delete
del df['one']
print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN

In [19]:
#using pop function
df.pop('two')
print(df)

   three
a   10.0
b   20.0
c   30.0
d    NaN

In [20]:
#Row SElection,Addition and Deletion
d = {'one':pd.Series([1,2,3], index=['a','b','c']),
     'two':pd.Series([1,2,3,4], index=['a','b','c','d'])
    }
df = pd.DataFrame(d)

#Selection by loc
print(df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [21]:
#Selection using iloc
print(df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

In [22]:
df1 = pd.DataFrame([[1,2],[3,4]], columns = ['a','b'])
df2 = pd.DataFrame([[5,6],[6,7]], columns = ['a','b'])

df1 = df1.append(df2)
print(df1)
#print(df1.iloc[0])

   a  b
0  1  2
1  3  4
0  5  6
1  6  7